

@import url('https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=devanagari,latin-ext');

/* #Primary
================================================== */

body{
    
	background-color: #fff;
	overflow-x: hidden;
   
}
::selection {
	color: #fff;
	background-color: #fdd104;
}
::-moz-selection {
	color: #fff;
	background-color: #fdd104;
}


/* #Navigation
================================================== */

.start-header {
    background-color: #ffffff;
    padding: 5px 0;
	transform: translateY(0);
	/* padding: 20px 0;
	box-shadow: 0 10px 30px 0 rgba(138, 155, 165, 0.15); */
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on {
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
	padding: 10px 0;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.start-header.scroll-on .navbar-brand img{
	height: 24px;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
/* .navigation-wrap{
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 1000;
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
} */
.cu-header-top .navbar{
	padding: 0;
}
.cu-header-top .navbar-brand img{
	
	width: 50px;
	display: block;
  /* filter: brightness(10%); */
	-webkit-transition : all 0.3s ease-out;
	transition : all 0.3s ease-out;
}
.cu-header-top .navbar-toggler {
	float: right;
	border: none;
	padding-right: 0;
}
.cu-header-top .navbar-toggler:active,
.cu-header-top .navbar-toggler:focus {
	outline: none;
}
.cu-header-top .navbar-light .navbar-toggler-icon {
	width: 24px;
	height: 17px;
	background-image: none;
	position: relative;
	border-bottom: 1px solid #000;
    transition: all 300ms linear;
}
.cu-header-top .navbar-light .navbar-toggler-icon:after, 
.cu-header-top .navbar-light .navbar-toggler-icon:before{
	width: 24px;
	position: absolute;
	height: 1px;
	background-color: #000;
	top: 0;
	left: 0;
	content: '';
	z-index: 2;
    transition: all 300ms linear;
}
.cu-header-top .navbar-light .navbar-toggler-icon:after{
	top: 8px;
}
.cu-header-top .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:after {
	transform: rotate(45deg);
}
.cu-header-top .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:before {
	transform: translateY(8px) rotate(-45deg);
}
.cu-header-top .navbar-toggler[aria-expanded="true"] .navbar-toggler-icon {
	border-color: transparent;
}
.cu-header-top .nav-link{
	color: #489519;
	font-weight: 500;
    transition: all 200ms linear;
}
.cu-header-top .nav-item:hover .nav-link{
	color: #fdd104 !important;
}
.cu-header-top .nav-item.active .nav-link{
	color: #fff !important;
}
.cu-header-top .nav-link {
	position: relative;
	padding: 5px 0 !important;
	display: inline-block;
}
/* .nav-item:after{
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 2px;
	content: '';
	background-color: #fdd104;
	opacity: 0;
    transition: all 200ms linear;
} */
/* .nav-item:hover:after{
	bottom: 0;
	opacity: 1;
}
.nav-item.active:hover:after{
	opacity: 0;
} */
.cu-header-top .nav-item{
	position: relative;
    transition: all 200ms linear;
}
.cu-header-top .navbar .navbar-nav .nav-item a:hover {
    color: #368e00;
}

.cu-header-top .nav-item .dropdown-menu {
    transform: translate3d(0, 10px, 0);
    visibility: hidden;
    opacity: 0;
	max-height: 0;
    display: block;
	padding: 0;
	margin: 0;
    transition: all 200ms linear;
}
.cu-header-top .nav-item.show .dropdown-menu {
    opacity: 1;
    visibility: visible;
	max-height: 999px;
    transform: translate3d(0, 0px, 0);
}
.cu-header-top .dropdown-menu {
	padding: 10px!important;
	margin: 0;
	font-size: 13px;
	letter-spacing: 1px;
	color: #212121;
	background-color: #fcfaff;
	border: none;
	border-radius: 3px;
	box-shadow: 0 5px 10px 0 rgba(138, 155, 165, 0.15);
    transition: all 200ms linear;
}
.cu-header-top .dropdown-toggle::after {
	display: none;
}

.cu-header-top .dropdown-item {
	padding: 3px 15px;
	color: #212121;
	border-radius: 2px;
    transition: all 200ms linear;
}
.cu-header-top .dropdown-item:hover, 
.cu-header-top .dropdown-item:focus {
	color: #fff;
	background-color: rgba(129,103,169,.6);
}
/* #Media
================================================== */

@media (max-width: 767px) { 
	/* h1{
		font-size: 38px;
	} */
	.cu-header-top .nav-item:after{
		display: none;
	}
	.cu-header-top .nav-item::before {
		position: absolute;
		display: block;
		top: 15px;
		left: 0;
		width: 11px;
		height: 1px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
	}
	.cu-header-top .dropdown-toggle::after {
		position: absolute;
		display: block;
		top: 10px;
		left: -23px;
		width: 1px;
		height: 11px;
		content: "";
		border: none;
		background-color: #000;
		vertical-align: 0;
		transition: all 200ms linear;
	}
	.cu-header-top .dropdown-toggle[aria-expanded="true"]::after{
		transform: rotate(90deg);
		opacity: 0;
	}
	.cu-header-top .dropdown-menu {
		padding: 0 !important;
		background-color: transparent;
		box-shadow: none;
		transition: all 200ms linear;
	}
	.cu-header-top .dropdown-toggle[aria-expanded="true"] + .dropdown-menu {
		margin-top: 10px !important;
		margin-bottom: 20px !important;
	}
	
}
.cu-header-top .icon-login{
    margin-right: 5px;
}
/* #Link to page
================================================== */

.cu-header-top .logo {
	position: absolute;
	bottom: 30px;
	right: 30px;
	display: block;
	z-index: 100;
	transition: all 250ms linear;
}
.cu-header-top .logo img {
	height: 26px;
	width: auto;
	display: block;
  filter: brightness(10%);
	transition: all 250ms linear;
}

  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .App-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
/* home page css start */
  .banner-img {
    background-size: auto 100% !important;
    min-height: 640px;
    background-repeat: no-repeat;
    background-position: top center;
    padding: 0 0 60px;
}
.banner-text{
    padding: 70px 0 0 0;
}
.sub-title {
    font-size: 46px;
    font-weight: 300;
    color: #fff;
}
.main-title {
    font-size: 55px;
    font-weight: 800;
    color: #fff;
}
.description {
    width: 55%;
    font-size: 18px;
    font-weight: 500;
    color: #2e2e3a;
}
.form-text{
    width: 430px;
    float: left;
    margin-top: 20px;
}
.search-box{
    float: left;
    background-color: #fff;
    padding: 5px;
    border-radius: 0px;
    width: 100%;
}
.row-c {
    display: flex;
    align-items: stretch;
    justify-content: center;
}
.row-c input{
    width: 100%;
    outline: none;
    border: 0px;
}
.row-c button{
    padding: 11px 12px 9px 12px;
}
.button-custom{
    background-color: #12162d !important;
    font-size: 16px!important;
    font-weight: 500!important;
    border-radius: 0px!important;
	color: #fff !important;
}
.need-text {
    color: #fff;
    font-weight: 500;
    font-size: 18px;
}

.btn-signup{
	font-size: 16px !important;
    font-weight: 500 !important;
    font-stretch: normal;
    font-style: normal;
    line-height: normal !important;
    letter-spacing: normal;
    width: auto;
    margin: 32px 0 0 0;
    text-align: center !important;
    color: #fff !important;
    padding: 20px 50px !important;
    text-transform: uppercase;
    background-color: #398807 !important;
    box-shadow: 0 9px 0 0 rgb(0 0 0 / 10%);
	border-color:#398807 !important;
}
.free-trail {
    width: 70% !important;
    margin-top: 12px;
    font-size: 13px;
    letter-spacing: 1px;
}

.how-to-work{
	background-color: #fff;
    padding-bottom: 0px;
}
.how-to-work .heading{
	font-size: 46px;
    font-weight: 800;
    color: #212529;
}
.how-work-art {
    position: relative;
    min-height: 580px;
}
.hwa-abso.hwa-1 {
    width: 200px;
    top: 191px;
    left: 0px;
}
.hwa-abso h3 {
    font-size: 24px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.2;
    letter-spacing: normal;
    color: #000;
    margin-bottom: 8px;
}
.hwa-abso.hwa-2 {
    width: 230px;
    left: 170px;
    top: 108px;
}
.hwa-abso p {
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #969696;
}
.hwa-abso.hwa-3 {
    width: 210px;
    left: 110px;
    top: 310px;
}
.hwa-abso.hwa-4 {
    width: 270px;
    left: 0px;
    top: 98px;
    right: 0;
    margin: auto;
}
.hwa-abso.hwa-4 p {
    margin: 10px 0 0 0;
}
.hwa-abso.hwa-5 {
    width: 240px;
    left: 0px;
    top: 300px;
    right: 0;
    margin: auto;
}
.hwa-abso.hwa-8 img {
    width: 130px;
}
.hwa-abso.hwa-5 p {
    margin: 10px 0 0 0;
}
.hwa-abso.hwa-6 {
	width: auto;
    right: 0px;
    top: 93px;
}
.hwa-abso h4 {
    font-size: 32px;
    font-weight: 600;
    color: #36bfc4;
}
.hwa-abso.hwa-7 {
	width: auto;
    right: 0px;
    top: 329px;
}
.hwa-abso h4 {
    font-size: 32px;
    font-weight: 600;
    color: #36bfc4;
}
.hwa-abso.hwa-8 {
    top: 106px;
    left: 0px;
}
.hwa-abso.hwa-9 {
    top: 254px;
    left: 0px;
}
.hwa-abso.hwa-10 {
    right: 206px;
    top: 286px;
    width: auto;
}
.hwa-abso {
    width: 300px;
    position: absolute;
}
.hwa-abso.hwa-10 img {
    width: 110px;
}

.check-img {
	/* padding: 60px 0 0px;
    background: #36c0c56b;
    background-size: auto 100% !important;
    background-repeat: no-repeat;
    background-position: top center; */
	background-color: #86d9dc;
		position: relative;
		margin: 100px 0px 0px;
	

}
.right-img img {
    width: 100%;
}
.check-img h2 {
    font-size: 46px;
    font-weight: 800;
}
.green-bg {
    background-size: 100% 100%;
    width: 585px;
    height: 344px;
    background-repeat: no-repeat;
    background: #5bba47;
}
.video-text p {
	font-size: 28px;
    font-weight: 700;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #fff;
    margin: -100px 0 0 60px;
    width: 415px;
    position: relative;
    top: 51px;
}
.right-img{
	position: relative;
}
.play-icon {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
	display: flex;
    align-items: center;
    justify-content: center;
}
.play-icon img{
    width: 100px;
}
.check-img .bg-shape1 {
    position: absolute;
    width: 100%;
    height: 300px;
    display: block;
    left: 0;
    top: -300px;
}
.check-img  .bg-shape1 img {
    width: 100%;
    height: 100%;
}
.why-benefits{
	background-color: #86d9dc;
		position: relative;
		padding: 100px 0px 100px;
}
.why-benefits-title {
    font-size: 46px;
    font-weight: 800;
}
.card-box h3 {
    font-size: 24px;
    font-weight: 800;
    margin-bottom: 20px;
}
.card-box p {
    font-size: 18px;
    font-weight: 500;
    padding-right: 50px;
    color: #2e2e3a;
}
.card-box {
    margin-top: 50px;
}

.bg-shape2 {
    position: absolute;
    width: 100%;
    height: 400px;
    display: block;
    left: 0;
    top: -310px;
}
.we-pr {
    position: relative;
    background: #f4f4f4;
}
.bg-shape2 img {
    width: 100%;
    height: 100%;
}
.student-box{
	width: 837px;
    height: 485px;
    border-radius: 25px;
    padding: 50px 0 0 50px;
    position: relative;
    z-index: 2;
    margin: -52px 0 0 0;
}
.we-pr h4{
	font-size: 44px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
    margin-bottom: 20px;
}
.proud-loop {
    padding-right: 70px;
}
.proud-loop h6 {
    font-size: 40px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}
.proud-loop p {
    font-size: 20px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #2b2b2b;
}
.getlive-session {
    position: absolute;
    bottom: -55px;
    right: 70px;
    width: 400px;
    z-index: 1;
}
.btn-signup {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    width: auto;
    margin: 32px 0 0 0;
    text-align: center;
    color: #fff;
    padding: 20px 50px;
    text-transform: uppercase;
    background-color: #2e2e3a;
    box-shadow: 0 9px 0 0 rgb(0 0 0 / 10%);
}
.crad-box-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: #398807;
    display: flex;
    align-items: center;
    justify-content: center;
	margin-bottom: 30px;
}
.bg-shape3 {
    position: absolute;
    width: 100%;
    height: 400px;
    display: block;
    left: 0;
    bottom: -300px;
    z-index: 1;
}
.bg-shape3 img {
    width: 100%;
    height: 100%;
}
.maxcoach-timeline.style-01 {
    position: relative;
}
.maxcoach-timeline.style-01 .timeline-line {
    position: absolute;
    left: 50%;
    margin-left: -1px;
    height: 100%;
    border-left: 2px solid #e2e2e8;
}
.maxcoach-timeline.style-01 .timeline-list {
    padding: 44px 0 47px;
}
.maxcoach-timeline.style-01 .timeline-item {
    position: relative;
}
.maxcoach-timeline.style-01 .timeline-dot {
	position: absolute;
    top: 2px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: red;
}
.timeline-dot img {
    width: 100%;
}
.maxcoach-timeline.style-01 .content-wrap {
    display: flex;
    align-items: center;
    margin-left: -30px;
    margin-right: -30px;
}
.maxcoach-timeline.style-01 .content-header {
    text-align: right;
    justify-self: flex-start;
}

.maxcoach-timeline.style-01 .content-header, .maxcoach-timeline.style-01 .content-main {
    display: flex;
    width: 50%;
    padding: 0 30px;
}
.maxcoach-timeline.style-01 .content-inner {
    max-width: 500px;
}
.maxcoach-timeline.style-01 .content-main {
    text-align: left;
    justify-content: flex-end;
    font-size: 18px;
    line-height: 2;
}

.maxcoach-timeline.style-01 .content-header, .maxcoach-timeline.style-01 .content-main {
    display: flex;
    width: 50%;
    padding: 0 30px;
}
.maxcoach-timeline.style-01 .content-inner {
    max-width: 500px;
}
.maxcoach-timeline.style-01 .timeline-item+.timeline-item {
    margin-top: 0px;
}
.maxcoach-timeline.style-01 .timeline-item:nth-child(even) .content-header {
    text-align: left;
    justify-content: flex-end;
}
.maxcoach-timeline.style-01 .timeline-item:nth-child(even) .content-main {
    text-align: right;
    justify-content: flex-start;
}
.maxcoach-timeline.style-01 .timeline-item:nth-child(even) .content-wrap {
    flex-direction: row-reverse;
}
.profile-repeat.pr1 {
    /* width: 550px; */
    /* margin-left: 70px; */
}
.profile-repeat {
    border-radius: 24px;
    background-color: #fcf8d3;
    padding: 30px 30px 10px 50px;
    /* width: 580px; */
    margin-bottom: 10px;
}
.profile-repeat .pr-txt {
    border-left: 6px solid #000;
    padding-left: 20px;
	text-align: left;
}
.profile-repeat .pr-txt h4 {
    font-size: 28px;
    font-weight: 800;
    font-stretch: normal;
    font-style: normal;
    /* line-height: 1.29; */
    letter-spacing: normal;
    color: #000;
    margin-bottom: 20px;
}
.profile-repeat .pr-txt p {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    color: #2e2e3a;
}
section.profile-t {
    padding-top: 150px;
	background: #ffffff;
	position: relative;
}
.profile-repeat.pr2 {
   
    background-color: #fdebe1;
}
.profile-repeat.pr3 {
  
    background-color: rgba(91, 186, 71, .25);
   
}
.profile-repeat.pr4 {
   
    background-color: #fcf8d3;
}
.profile-repeat.pr5 {
   
    background-color: #fff0f9;
   
}
.bg-shape4 {
    position: absolute;
    width: 100%;
    height: 400px;
    display: block;
    left: 0;
    bottom: -360px;
}
.bg-shape4 img {
    width: 100%;
    height: 100%;
}
.what-aboutus {
    background-color: #f4f4f4;
    padding: 72px 0 0 0;
}
p {
    font-size: 16px;
    color: #2e2e3a;
    margin: 0;
}
.aboutus-content {
    padding: 50px 0;
}
.abt-lt-img {
    position: relative;
}
.aboutus-signup {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}
.aboutus-signup .btn-signup {
    font-size: 20px;
    font-weight: 500;
    color: #fff;
}	
.btn-signup {
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    width: auto;
    margin: 32px 0 0 0;
    text-align: center;
    color: #fff;
    padding: 20px 50px;
    text-transform: uppercase;
    background-color: #2e2e3a;
    box-shadow: 0 9px 0 0 rgb(0 0 0 / 10%);
}
.aboutus-signup a {
    width: 100%;
}
.abt-lt-img img {
    border-radius: 20px;
}
.students-common {
    border-radius: 10px;
    box-shadow: 0 6px 0 0 #dcdcdc;
    background-color: #fff;
    padding: 20px 25px;
    padding-bottom: 40px;
	margin-bottom: 20px;
}
.student-detail {
    position: relative;
    margin-bottom: 20px;
}
.student-detail .student-name {
    font-size: 18px;
    font-weight: 600;
    font-stretch: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #f06d22;
    display: block;
    margin: 20px 0 0 0;
    float: left;
    width: 100%;
}
.orange {
    color: #f06d22;
}
.student-detail .student-date {
    font-size: 18px;
    font-weight: 400;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.78;
    letter-spacing: normal;
    color: #7d685c;
}
.students-common .student-pehra {
    font-size: 18px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #2e2e3a;
}
.ready-started {
    background-color: #f4f4f4;
    padding-bottom: 80px;
    /* margin-top: 50px; */
}
.readyget-form {
    background-color: #fff;
    border-radius: 24px;
    padding: 60px 45px 60px 45px;
    position: relative;
    width: 100%;
    float: left;
    overflow: hidden;
}
.font-weight-800 {
    font-weight: 800;
}

.f46 {
    font-size: 46px;
}
.started-form {
    width: 640px;
    float: left;
    margin: 30px 0 0 0;
}
.readyget-form .readyget-graphic {
    position: absolute;
    right: 0;
    bottom: 0;
}
.started-form .search-container {
    border-radius: 6px;
    /* border: solid 1.5px #e2e2e2; */
    background-color: #f2f2f2;
    padding: 8px;
}
.started-form .search-container input[type=email] {
    font-size: 24px;
    font-weight: 400;
    padding: 10px 15px;
    width: 423px;
    border: 0px;
    background: #fff;
}
.started-form .search-container button {
    font-size: 24px;
    font-weight: 500;
    padding: 11px 20px 9px 20px;
    color: #fff;
	border: 0px;
}
.Subscribebtn {
    border-radius: 4px;
    background-color: #398807;
    text-transform: uppercase;
    outline: 0;
    font-size: 24px;
    font-weight: 500;
    padding: 11px 20px 9px 20px;
    color: #fff;
}

.doctor-section .sub-title {
    font-size: 46px;
    font-weight: 300;
    color: #36bfc4;
}
.doctor-section .main-title {
    font-size: 55px;
    font-weight: 800;
    color: #36bfc4;
}
.doctor-section .need-text {
    color: #000;
    font-weight: 500;
    font-size: 18px;
}
.doctor-img img {
    width: 100%;
}
.doctor-section .banner-text {
    padding: 0px 0 0 0;
}
.doctor-section .description {
    width: 100%;
    
}
.doctor-section {
    padding: 100px 0px;
}
@media screen and (max-width:767px){
    .form-text {
        width: 100%;
        
    }
    .green-bg {
       
        width: 100%;
       
    }
    .video-text p {
       
        margin: 0px 0 0 0px;
        width: 100%;
        
        padding: 0px 15px;
    }
    .student-box {
        width: 100%;
        height: 100%;
       
        padding: 10px 0 0 10px;
       
        margin: 0px 0 0 0;
    }
    .d-flex.proud-flex {
        flex-direction: column;
    }
    .getlive-session {
        position: relative;
        bottom: 0;
        right: 0;
        width: 300px;
        z-index: 1;
    }
    .abt-lt-img img {
        width: 100%;
    }
    .started-form {
        width: 100%;
      
    }
    .started-form .search-container input[type=email] {
        width: 100%;
       
    }
    .footer-inner {
        -webkit-clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%) !important;
        clip-path: polygon(0 0, 100% 5%, 100% 100%, 0 100%) !important;
    }
    .doctor-section {
        padding: 25px 0px;
    }
    .description {
        width: 100%;
        
    }
    .how-to-work {
        display: none;
    }
    .why-benefits-title {
        font-size: 32px;
        
    }
    .profile-repeat .pr-txt h4 {
        font-size: 18px;
      
    }
    .profile-repeat {
       
        padding: 15px 15px 10px 15px;
      
    }
    .main-title {
        font-size: 32px;
       
    }
    .doctor-section .main-title {
        font-size: 32px;
        
    }
    .check-img .bg-shape1 {
      
        display: none;
    }
    .we-pr span.bg-shape2 {
        display: none;
    }
    .we-pr span.bg-shape3 {
        display: none;
    }
    .bg-shape4 {
        display: none;
    }
    
}
.abt-lt-img img {
    width: 100%;
}